*.exe
/.tmp.drivedownload
/.tmp.driveupload
/Curso Java Swing/PrimeiraJanela/nbproject/private/
/Curso Java Swing/PrimeiraJanela/build/
/Curso Java Swing/JogoAdvinhacao/nbproject/private/
/Curso Java Swing/JogoForca/nbproject/private/
/Curso Java Swing/JogoForca/build/
/AEDS 3/TRABALHO 02/visualizacao.html
/LPR 1/Aula DB/DBTest/nbproject/private/
/LPR 1/Aula DB/DBTest/build/
/LPR 1/ATIVIDADE 03/Ex01/target/
/LPR 1/ATIVIDADE 03/Ex02/target/
/LPR 1/Aula Swing 2/GUITest/target/
/LPR 1/Aula Swing/GUIHello2/nbproject/private/
/LPR 1/Aula Swing/GUIHello2/build/
/LPR 1/Aula Swing/GUIHello/nbproject/private/
/LPR 1/Aula Swing/GUIHello/build/
/LPR 1/Aula Swing 3/Teste/target/
/LPR 1/TRABALHO PRÁTICO 02/Ex01/target/
/LPR 1/TRABALHO PRÁTICO 02/Ex02/target/
