# --- Arquivos do Sistema e Nuvem ---
*.exe
*.dll
*.pdb
.tmp.drivedownload/
.tmp.driveupload/
.vscode/

# --- Projetos Java (Maven, NetBeans, Eclipse) ---
**/target/
**/build/
**/nbproject/private/
.mtj.tmp/
*.jar
*.war
*.ear

# --- Projetos C# / .NET (Visual Studio, Rider) ---
**/bin/
**/obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- Arquivos específicos ---
/AEDS 3/TRABALHO 02/visualizacao.html
