*.exe
/.tmp.drivedownload
/.tmp.driveupload
/Curso Java Swing/PrimeiraJanela/nbproject/private/
/Curso Java Swing/PrimeiraJanela/build/
/Curso Java Swing/JogoAdvinhacao/nbproject/private/
/Curso Java Swing/JogoForca/nbproject/private/
/Curso Java Swing/JogoForca/build/
/AEDS 3/TRABALHO 02/visualizacao.html
